@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #000;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    
    --bg-color: #fff;
    --second-color:#5a7184;
    --main-color:#6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}
 
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

nav .nav-bar .sidebarOpen {
    color: #fff;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;

}

.nav-links li a {
    position: relative;
    font-weight: 17px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field { 
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

section {
    padding: 80px 18%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../Imagenes/brex.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.color {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 2%;
}

.home-text h1{
    font-size: 80px;
    line-height: 1.2;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.home-text p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    background: #ffffffbf;
    color: var(--main-color);
    border-radius: 4px;
    transition: ease .40s;
}

.home-btn:hover {
    background: var(--bg-color);
    transform: scale(1.1);
}

/*Inicio*/

.text h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
    line-height: 1.1;
}

.row-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.container-box {
    background-color: #fff;
    border: 1px solid #f0eded;
    padding: 50px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.container-img img{
    height: 85px;
    width: 85px;
    padding: 15px;
    background-color: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}

.container-box h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;

}

.container-box p {
    font-size: 15px;
    color: var(--second-color);
}

.container-box:hover {
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 /50%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}

/*Estilos de La sección "Acerca"*/
.roww {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.roww .left {
    overflow: hidden;
}

.roww .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roww .right {
    display: flex;
    align-items: center;
}

.roww .right .content {
    padding-left: 20px;
}

.roww .right .content p {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: justify;
    color: var(--text-color);
}

/*Estilos de La sección "Personajes Importantes"*/
.text-p h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
    line-height: 1.1;
}
.row {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 55, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    margin-top: 5px;
    letter-spacing: 1px;

}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*Sección de Información*/ 
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container-c {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container-c:nth-child(1) {
    animation-delay: 0s;
}

.container-c:nth-child(2) {
    animation-delay: 1s;
}

.container-c:nth-child(3) {
    animation-delay: 2s;
}

.container-c:nth-child(4) {
    animation-delay: 3s;
}

.container-c:nth-child(5) {
    animation-delay: 4s;
}

.container-c:nth-child(6) {
    animation-delay: 5s;
}

.container-c:nth-child(7) {
    animation-delay: 6s;
}

.container-c:nth-child(8) {
    animation-delay: 7s;
}

.container-c:nth-child(9) {
    animation-delay: 8s;
}

.container-c:nth-child(10) {
    animation-delay: 9s;
}

.container-c:nth-child(11) {
    animation-delay: 10s;
}

.container-c:nth-child(12) {
    animation-delay: 11s;
}

.container-c:nth-child(13) {
    animation-delay: 12s;
}

.container-c:nth-child(14) {
    animation-delay: 13s;
}

.container-c:nth-child(15) {
    animation-delay: 14s;
}

.container-c:nth-child(16) {
    animation-delay: 15s;
}

.container-c:nth-child(17) {
    animation-delay: 16s;
}

.container-c:nth-child(18) {
    animation-delay: 17s;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container-c img {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--text-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;

}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.text-box p {
    text-align: justify;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid #fff;
    left: -15px;
}



/*Footer*/
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-bottom: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: #6e54fa;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}


/*Diseño Responsivo*/
@media screen and (max-width: 1120px) {
    .row {
        padding: 8%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 991px) {
    .roww .right .content {
        padding-left: 0;
    }
}


@media screen and (max-width: 800px) {

    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container-c {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img, .right-container img {
        left: 10px;

    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }

    .row {
        padding: 8%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 768px) {
    .roww {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .home-text h1 {
        font-size: 30px;
    }

    .home-text p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .home-btn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 600px) {
    .about-img img {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .home {
        width: auto;
        background: url(../Imagenes/brex.png);
        background-size: cover;
        background-position: center;
    }

    .home-text h1{
        font-size: 60px;
    }
    
    .home-text p {
        color: #FFF;
        font-size: 20px;
        text-align: justify;
    }

    .text h2 {
        font-size: 40px;
        color: var(--text-color);
        line-height: 1.1;
    }
}

